html {
  font-size: 20px;
}
//variables
$textColor: red;
p {
  color: $textColor;
}
//
@mixin bgc($bgcolor) {
  background-color: $bgcolor;
}
.header {
  padding: 2rem;
  @include bgc(black);
  &-inner {
    color: white;
    &-text {
      color: blue;
    }
  }
}
//mixin
//@mixin name() {}
//@include name();
